<a href="https://colab.research.google.com/github/biggity2bit/Project-2/blob/master/bernt_politifact_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Install Java, Spark, and Findspark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

In [0]:
from pyspark.ml.feature import Tokenizer
from pyspark.sql.functions import col, udf
from pyspark.sql.types import IntegerType

In [3]:
# Basic libraries
import numpy as np
import pandas as pd

# Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns
%config InlineBackend.figure_format = 'retina'
%matplotlib inline

# Natural Language Processing
from sklearn.feature_extraction import stop_words
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# Modeling
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
from sklearn.metrics import accuracy_score, recall_score, precision_score, confusion_matrix

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.feature_extraction.stop_words module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.feature_extraction.text. Anything that cannot be imported from sklearn.feature_extraction.text is now part of the private API.
  warnings.warn(message, FutureWarning)

In [0]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("NaiveBayes").getOrCreate()

In [5]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url ="https://news-detector-project.s3.us-east-2.amazonaws.com/FakeNews.csv"
spark.sparkContext.addFile(url)
df_fake = spark.read.csv(SparkFiles.get("FakeNews.csv"), sep=",", header=True)

# Show DataFrame
df_fake.show()

+--------------------+--------------------+--------------+-----------+
|               title|         articletext|articlesubject|articledate|
+--------------------+--------------------+--------------+-----------+
| Donald Trump Sen...|Donald Trump just...|          News|  31-Dec-17|
| Drunk Bragging T...|House Intelligenc...|          News|  31-Dec-17|
| Sheriff David Cl...|On Friday, it was...|          News|  30-Dec-17|
| Trump Is So Obse...|On Christmas day,...|          News|  29-Dec-17|
| Pope Francis Jus...|Pope Francis used...|          News|  25-Dec-17|
| Racist Alabama C...|The number of cas...|          News|  25-Dec-17|
| Fresh Off The Go...|Donald Trump spen...|          News|  23-Dec-17|
| Trump Said Some ...|In the wake of ye...|          News|  23-Dec-17|
| Former CIA Direc...|Many people have ...|          News|  22-Dec-17|
| WATCH: Brand-New...|Just when you mig...|          News|  21-Dec-17|
| Papa Johnâ€™s Foun...|A centerpiece of ...|          News|  21-Dec-17|
| WATCH: Paul Ryan...|Republicans are w...|          News|  21-Dec-17|
| Bad News For Tru...|Republicans have ...|          News|  21-Dec-17|
| WATCH: Lindsey G...|The media has bee...|          News|  20-Dec-17|
| Heiress To Disne...|Abigail Disney is...|          News|  20-Dec-17|
| Tone Deaf Trump:...|Donald Trump just...|          News|  20-Dec-17|
| The Internet Bru...|A new animatronic...|          News|  19-Dec-17|
| Mueller Spokesma...|Trump supporters ...|          News|  17-Dec-17|
| SNL Hilariously ...|Right now, the wh...|          News|  17-Dec-17|
| Republican Senat...|Senate Majority W...|          News|  16-Dec-17|
+--------------------+--------------------+--------------+-----------+
only showing top 20 rows

In [6]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url ="https://news-detector-project.s3.us-east-2.amazonaws.com/TrueNews.csv"
spark.sparkContext.addFile(url)
df_true = spark.read.csv(SparkFiles.get("TrueNews.csv"), sep=",", header=True)

# Show DataFrame
df_true.show()

+--------------------+--------------------+--------------------+------------+
|               title|         articletext|      articlesubject| articledate|
+--------------------+--------------------+--------------------+------------+
|As U.S. budget fi...|WASHINGTON (Reute...|        politicsNews|   31-Dec-17|
|U.S. military to ...|WASHINGTON (Reute...|        politicsNews|   29-Dec-17|
|Senior U.S. Repub...|WASHINGTON (Reute...|        politicsNews|   31-Dec-17|
|FBI Russia probe ...|WASHINGTON (Reute...|        politicsNews|   30-Dec-17|
|Trump wants Posta...|SEATTLE/WASHINGTO...|        politicsNews|   29-Dec-17|
|White House, Cong...|WEST PALM BEACH, ...|        politicsNews|   29-Dec-17|
|Trump says Russia...|WEST PALM BEACH, ...|        politicsNews|   29-Dec-17|
|Factbox: Trump on...|The following sta...|        politicsNews|   29-Dec-17|
|Trump on Twitter ...|The following sta...|        politicsNews|   29-Dec-17|
|Alabama official ...|WASHINGTON (Reute...|        politicsNews|   28-Dec-17|
|Jones certified U...|(Reuters) - Alaba...|        politicsNews|   28-Dec-17|
|New York governor...|NEW YORK/WASHINGT...|        politicsNews|   28-Dec-17|
|Factbox: Trump on...|The following sta...|        politicsNews|   28-Dec-17|
|Trump on Twitter ...|"The following st...| Associates Up 83...|politicsNews|
|Man says he deliv...| (In Dec. 25 stor...|        politicsNews|   25-Dec-17|
|Virginia official...|(Reuters) - A lot...|        politicsNews|   27-Dec-17|
|U.S. lawmakers qu...|WASHINGTON (Reute...|        politicsNews|   27-Dec-17|
|Trump on Twitter ...|The following sta...|        politicsNews|   26-Dec-17|
|U.S. appeals cour...|(Reuters) - A U.S...|        politicsNews|   26-Dec-17|
|Treasury Secretar...|(Reuters) - A gif...|        politicsNews|   24-Dec-17|
+--------------------+--------------------+--------------------+------------+
only showing top 20 rows

In [7]:
# import pandas as pd
fake_df = df_fake.toPandas() 
true_df = df_true.toPandas() 
true_df.head()

                                               title  ... articledate
0  As U.S. budget fight looms, Republicans flip t...  ...   31-Dec-17
1  U.S. military to accept transgender recruits o...  ...   29-Dec-17
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...   31-Dec-17
3  FBI Russia probe helped by Australian diplomat...  ...   30-Dec-17
4  Trump wants Postal Service to charge 'much mor...  ...   29-Dec-17

[5 rows x 4 columns]

In [8]:
# Assign values to true and false
fake_df['label'] = 1
true_df['label'] = 0
true_df.head()

                                               title  ... label
0  As U.S. budget fight looms, Republicans flip t...  ...     0
1  U.S. military to accept transgender recruits o...  ...     0
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...     0
3  FBI Russia probe helped by Australian diplomat...  ...     0
4  Trump wants Postal Service to charge 'much mor...  ...     0

[5 rows x 5 columns]

In [10]:
# Create a new dataframe with only the information we need (the text of articles and the true/false values):
df1 = pd.concat([fake_df[['articletext', 'label']], true_df[['articletext', 'label']]], axis=0)

print("Shape:", df1.shape)
df1.tail()

Shape: (44937, 2)

                                             articletext  label
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      0
21413  LONDON (Reuters) - LexisNexis, a provider of l...      0
21414  MINSK (Reuters) - In the shadow of disused Sov...      0
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      0
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      0

In [0]:
# Create a function to claen the dataframes:
def clean_data_text(dataframe):

    # Drop duplicate rows
    dataframe.drop_duplicates(subset='articletext', inplace=True)
    
    # Remove punctation
    dataframe['articletext'] = dataframe['articletext'].str.replace('[^\w\s]',' ')

    # Remove numbers 
    dataframe['articletext'] = dataframe['articletext'].str.replace('[^A-Za-z]',' ')

    # Make sure any double-spaces are single 
    dataframe['articletext'] = dataframe['articletext'].str.replace('  ',' ')
    dataframe['articletext'] = dataframe['articletext'].str.replace('  ',' ')

    # Transform all text to lowercase
    dataframe['articletext'] = dataframe['articletext'].str.lower()
    
    print("New shape:", dataframe.shape)
    return dataframe.head()

In [13]:
# Call `clean_data_text(dataframe)` function
clean_data_text(df1)

New shape: (38628, 2)

                                         articletext  label
0  donald trump just couldn t wish all americans ...      1
1  house intelligence committee chairman devin nu...      1
2  on friday it was revealed that former milwauke...      1
3  on christmas day donald trump announced that h...      1
4  pope francis used his annual christmas day mes...      1

In [0]:
from pyspark.ml.feature import Tokenizer, StopWordsRemover, HashingTF, IDF, StringIndexer

# Create all the features to the data set
pos_neg_to_num = StringIndexer(inputCol='label',outputCol='label')
tokenizer = Tokenizer(inputCol="articletext", outputCol="token_text")
stopremove = StopWordsRemover(inputCol='token_text',outputCol='stop_tokens')
hashingTF = HashingTF(inputCol="stop_tokens", outputCol='hash_token')
idf = IDF(inputCol='hash_token', outputCol='idf_token')

from pyspark.ml.feature import VectorAssembler
from pyspark.ml.linalg import Vector

# Create feature vectors
clean_up = VectorAssembler(inputCols=['idf_token', 'length'], outputCol='features')

In [0]:
# Create a and run a data processing Pipeline
from pyspark.ml import Pipeline
data_prep_pipeline = Pipeline(stages=[tokenizer, stopremove, hashingTF, idf, clean_up])

In [23]:
# Convert pandas dataframe back to Pyspark:
spark.conf.set("spark.sql.execution.arrow.enabled", "true")

spark_df1 = spark.createDataFrame(df1)
spark_df1.head()

Row(articletext='donald trump just couldn t wish all americans a happy new year and leave it at that instead he had to give a shout out to his enemies haters and the very dishonest fake news media the former reality show star had just one job to do and he couldn t do it as our country rapidly grows stronger and smarter i want to wish all of my friends supporters enemies haters and even the very dishonest fake news media a happy and healthy new year president angry pants tweeted  will be a great year for america as our country rapidly grows stronger and smarter i want to wish all of my friends supporters enemies haters and even the very dishonest fake news media a happy and healthy new year  will be a great year for america donald j trump realdonaldtrump december   trump s tweet went down about as welll as you d expect what kind of president sends a new year s greeting like this despicable petty infantile gibberish only trump his lack of decency won t even allow him to rise above the gutter long enough to wish the american citizens a happy new year bishop talbert swan talbertswan december   no one likes you calvin calvinstowell december   your impeachment would make  a great year for america but i ll also accept regaining control of congress miranda yaver mirandayaver december   do you hear yourself talk when you have to include that many people that hate you you have to wonder why do the they all hate me alan sandoval alansandoval december   who uses the word haters in a new years wish marlene marlene  december   you can t just say happy new year koren pollitt korencarpenter december   here s trump s new year s eve tweet from  happy new year to all including to my many enemies and those who have fought me and lost so badly they just don t know what to do love donald j trump realdonaldtrump december   this is nothing new for trump he s been doing this for years trump has directed messages to his enemies and haters for new year s easter thanksgiving and the anniversary of  pic twitter com fpae kypa daniel dale ddale december   trump s holiday tweets are clearly not presidential how long did he work at hallmark before becoming president steven goodine sgoodine december   he s always been like this  the only difference is that in the last few years his filter has been breaking down roy schulze thbthttt december   who apart from a teenager uses the term haters wendy wendywhistles december   he s a fucking year old who knows rainyday december   so to all the people who voted for this a hole thinking he would change once he got into power you were wrong  year old men don t change and now he s a year older photo by andrew burton getty images ', label=1)

In [24]:
# Fit and transform the pipeline
cleaner = data_prep_pipeline.fit(spark_df1)
cleaned = cleaner.transform(spark_df1)

Py4JJavaError: ignored